<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.png">
            </a>
            <div class="content">
                <a class="header">Audrey Le</a>
                <div class="description">
                    <p>Cryptographer - PhD, Digital Anthropology, Columbia University</p>
                </div>
            </div>
        </div>
    </div>
</div>